
.p--heading-1 {
    font-weight: 700;
    size: 30px; //1.875em
    line-height: 39px; //2.5em
    columns: #303030;
}

.p--heading-2 {
    font-weight: 700;
    size: 24px; //1.5em
    line-height: 32px; //2.125em
    columns: #595959;
}

.p--heading-3 {
    font-weight: 700;
    size: 21px; //1.313em
    line-height: 28px; //1.75em
    columns: #595959;
}

.p--heading-4 {
    font-weight: 700;
    size: 18px; //1.125em
    line-height: 24px; //1.5em
    columns: #303030;
}

.p--heading-5 {
    font-weight: 500;
    size: 16px; //1em
    line-height: 22px; //1.375em
    columns: #595959;
}

.p--heading-6 {
    font-weight: 500;
    size: 14px; //0.875em
    line-height: 19px; //1.2em
    columns: #595959;
}

.p--paragraph-large {
    font-weight: 500;
    size: 18px; //1.125em
    line-height: 24px; //1.5em
    columns: #595959;
}

.p--paragraph {
    font-weight: 500;
    size: 16px; //1em
    line-height: 22px; //1.375em
    columns: #595959;
}

.p--paragraph-small {
    font-weight: 500;
    size: 14px; //0.875em
    line-height: 19px; //1.2em
    columns: #595959;
}