
.p--heading-1 {
    font-weight: 700;
    font-size: 30px; //1.875em
    line-height: 39px; //2.5em
    color: #303030;
}

.p--heading-2 {
    font-weight: 700;
    font-size: 24px; //1.5em
    line-height: 32px; //2.125em
    color: #595959;
}

.p--heading-3 {
    font-weight: 700;
    font-size: 21px; //1.313em
    line-height: 28px; //1.75em
    color: #595959;
}

.p--heading-4 {
    font-weight: 700;
    font-size: 18px; //1.125em
    line-height: 24px; //1.5em
    color: #303030;
}

.p--heading-5 {
    font-weight: 500;
    font-size: 16px; //1em
    line-height: 22px; //1.375em
    color: #595959;
}

.p--heading-6 {
    font-weight: 500;
    font-size: 14px; //0.875em
    line-height: 19px; //1.2em
    color: #595959;
}

.p--paragraph-1 {
    font-weight: 500;
    font-size: 18px; //1.125em
    line-height: 24px; //1.5em
    color: #595959;
}

.p--paragraph-2 {
    font-weight: 500;
    font-size: 16px; //1em
    line-height: 22px; //1.375em
    color: #595959;
}

.p--paragraph-3 {
    font-weight: 500;
    font-size: 14px; //0.875em
    line-height: 19px; //1.2em
    color: #595959;
}

.p--paragraph-4 {
    font-weight: 500;
    font-size: 12px; //0.875em
    line-height: 19px; //1.2em
    color: #595959;
}