/* You can add global styles to this file, and also import other style files */
@import './styles-fonts.scss';
@import './styles-colors.scss';
@import './styles-text.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Museo-Sans-Cyrl-500", "Helvetica Neue", sans-serif;
    background-color: #FAFAFB;
}