$color-primary--white: #FFFFFF;
$color-primary--darkblue: #253746;

$color-accent--blue: #004976;
$color-accent--lightblue: #F2F9FB;
$color-accent--grey: #EFEFEF;

$color-ui--grey: #EFEFEF;
$color-ui--graphite: #595959;
$color-ui--anthracite: #303030;
$color-ui--black: #000000;
$color-ui--blue: #004976;
$color-ui--turquoise: #017695;
$color-ui--green: #348721;
$color-ui--lightgreen: #43B02A;
$color-ui--yellow: #F0B323;
$color-ui--red: #D0021B;

$color-icon-interactive--blue: #017698;
$color-icon-interactive--lightblue: #3d8ea5;

$color-icon-interactive--white: #ffffff;
$color-icon-interactive-none-darkgray: #303030;


$color-text--blue: #017698;
