.app-main-footer {

    .footer--block {
        display: flex;
    }

    .footer-text {
        font-size: 12px;
    }

    .right-align {
        margin-left: auto;
        margin-right: 40px;
    }
}