.app-main-footer {

    .footer--block {
        display: flex;
    }

    .footer-text {
        font-size: 12px;
        padding: auto;
    }

    .right-align {
        // margin-left: auto;
        // margin-right: 35px;
        margin: 5px 35px 5px auto;
    }
}